@use "../2-tools/functions" as f;
@use "../1-settings/variables" as v;
@use "../2-tools/mixins" as m;


.article-content {

  &:has(.article-content__intro):has(.article-content__body) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;

    @include m.respond(mobile) {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }

  &__intro {
    align-content: center;

    :is(.article-content__text) {
      font-family: v.$font-family-serif;
      font-size: f.rem(28);
      font-style: italic;
      color: v.$color-primary;

      @include m.respond(tablet) {
        font-size: f.rem(26);
      }

      @include m.respond(mobile) {
        font-size: f.rem(24);
        text-align: center;
      }
    }
  }

  &__text {
    text-align: justify;
  }
}

.article-list {
  border-block: 1px solid v.$color-primary;

  &__title {
    @include m.respond(mobile) {
      text-align: center;
    }
  }

  &__list {
    counter-reset: item;

    :is(li) {
      position: relative;
      padding-left: 1rem;
      margin-bottom: 2.25rem;
      list-style: none;
      counter-increment: item;
    }

    :is(li)::before {
      position: absolute;
      top: -0.1rem;
      left: -2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      font-size: f.rem(20);
      font-weight: v.$fw-semi-bold;
      color: v.$color-secondary;
      content: counter(item);
      border: 1px solid v.$color-secondary;
      border-radius: 50%;
    }

    :is(p) {
      margin-bottom: 0;
      text-align: justify;
    }

    :is(h3) {
      margin-bottom: .75rem;
    }
  }
}

.article-quote {

  &__block {
    padding-left: 2rem;
    margin-bottom: 2rem;
    border-left: 3px solid v.$color-secondary;
  }

  &__text {
    margin-bottom: 1rem;
    font-family: v.$font-family-serif;
    font-size: f.rem(28);
    font-style: italic;

    @include m.respond(tablet) {
      font-size: f.rem(26);
    }

    @include m.respond(mobile) {
      font-size: f.rem(24);
    }
  }

  &__author {
    font-size: f.rem(18);
    color: v.$color-primary;
  }
}

.article-figure {
  padding-block: 0;

  :where(&__image) {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: opacity 0.3s ease;
  }

  :is(&__caption) {
    margin-top: 0.5rem;
    font-size: f.rem(14);
    text-align: center;
  }

  :has(a:hover) &__image {
    opacity: 0.8;
  }
}

.article-cta {
  text-align: center;
  border-top: 1px solid v.$color-primary;
}
