@use "../1-settings/variables" as v;
@use "../2-tools/functions" as f;

.contact {
  max-width: f.rem(600);
  padding-block: 3rem;
  margin-inline: auto;
  border-top: 1px solid v.$color-primary;

  &__text,
  &__title {
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-block: 3rem;
  }

  &__itemform {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__label {
    font-weight: v.$fw-semi-bold;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 0.6rem 0.9rem;
    font-family: v.$font-family-sans;
    font-size: f.rem(16);
    border: 1px solid v.$color-border-light;
    border-radius: 0.5rem;
    transition: border-color 0.2s ease;

    &:focus {
      outline: none;
      border-color: v.$color-primary;
    }
  }

  &__checkbox {
    display: flex;
    gap: 0.5rem;

    .contact__input {
      width: auto;
      margin: 0;
    }
  }
}
