@use "../1-settings/variables" as v;
@use "../2-tools/functions" as f;
@use "../2-tools/mixins" as m;

.accordion {
  margin-block-end: 1cqw;
  &__button {
    font-weight: v.$fw-semi-bold;

    &:not(.collapsed) {
      color: v.$color-black;
    }
  }

  &__body {
    text-align: justify;

    @include m.respond(mobile) {
      text-align: left;
    }
  }
}

.faq {
  text-align: center;
  min-height: 50svh;

  &__alert {
    @include m.respond(mobile) {
      flex-direction: column;
      gap: 1rem;
      text-align: center;
    }
  }
}
