@use "../1-settings/variables" as v;
@use "../2-tools/functions" as f;
@use "../2-tools/mixins" as m;

.accordion {
  &__button {
    font-weight: v.$fw-semi-bold;

    &:not(.collapsed) {
      color: v.$color-black;
    }
  }

  &__body {
    text-align: justify;

    @include m.respond(mobile) {
      text-align: left;
    }
  }
}

.faq {
  text-align: center;

  &__alert {
    background-color:  color(display-p3 0.9 0.95 1);
    border-radius: 0.75rem;

    @include m.respond(mobile) {
      flex-direction: column;
      gap: 1rem;
      text-align: center;
    }


  }
}
