@use "../1-settings/variables" as v;
@use "../2-tools/functions" as f;
@use "../2-tools/mixins" as m;

.footer {
  padding: 0 8rem;

  @include m.respond(tablet) {
    padding-inline: 4rem;
  }

  @include m.respond(mobile) {
    padding-inline: 2rem;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 4rem;
    align-items: center;
    padding: 4rem 0;
    border-top: 1px solid v.$color-primary;

    @include m.respond(tablet) {
      grid-template-columns: 1fr;
      gap: 3rem;
      text-align: center;
    }
  }

  &__logo {
    justify-self: start;

    @include m.respond(tablet) {
      justify-self: center;
    }
  }

  &__img {
    width: f.rem(225);
    height: auto;

    @include m.respond(mobile) {
      width: f.rem(180);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    list-style: none;

    @include m.respond(mobile) {
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__text {
    margin-bottom: 0.5rem;
    font-size: f.rem(16);
    color: v.$color-primary;
  }

  &__copyright {
    text-align: center;

    &-text {
      margin: 0;
      font-size: f.rem(14);
      color: v.$color-primary;
    }
  }

  &__social-media {
    display: flex;
    gap: 2rem;
    justify-content: end;

    @include m.respond(tablet) {
      justify-content: center;
    }
  }

  &__icon {
    font-size: f.rem(20);
  }
}
