@use "../1-settings/variables" as v;
@use "../2-tools/functions" as f;

.hero {
  position: relative;
  color: v.$color-white;

  &__grid {
    position: relative;
    min-height: 80vh;

    // Fallback
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 7rem 2rem;
    text-align: center;

    // Grid
    @supports (display: grid) {
      display: grid;
      padding: 7rem 8rem 0 8rem;
      text-align: left;
      grid-template-columns: 1.5fr 2fr;
      grid-template-rows: 4rem 4rem 4rem 4rem;
      gap: 6rem;
      grid-template-areas:
        "title ."
        ". cta "
        "availability ."
        "info subtitle";
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: url("../images/hero.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: f.opacity(v.$color-black, 0.2);
      z-index: -1;
    }
  }

  &__title {
    text-shadow: 2px 2px 6px f.opacity(v.$color-black, 0.3);

    @supports (display: grid) {
      grid-area: title;
      display: flex;
      align-items: center;
    }
  }

  &__info {
    @supports (display: grid) {
      grid-area: info;
      display: flex;
      align-items: center;
    }
  }

  &__availability {
    display: flex;
    align-items: center;
    justify-content: center;
    width: f.rem(350);
    height: 4rem;
    background-color: v.$color-secondary;
    border-radius: 5px;
    font-weight: bold;

    @supports (display: grid) {
      grid-area: availability;
      justify-self: start;
      height: 100%;
    }
  }

  &__subtitle {
    padding: 2rem 2rem 2rem 2rem;
    background-color: v.$color-background;
    color: v.$color-primary;
    border-radius: 10px;
    margin: 0 auto;

    @supports (display: grid) {
      grid-area: subtitle;
      align-self: end;
      justify-self: end;
      margin-right: -8rem;
      border-radius: 10px 0 0 10px;
    }
  }

  &__cta {
    display: flex;
    align-items: center;
    justify-content: center;

    @supports (display: grid) {
      grid-area: cta;
      justify-content: flex-end;
      height: 100%;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: f.rem(350);
    font-weight: v.$fw-bold;
    text-transform: uppercase;

    @supports (display: grid) {
      height: 100%;
    }
  }

  &__text {
    margin: 0;
  }
}
