@use "../1-settings/variables" as v;
@use "../2-tools/functions" as f;

.header {
  position: sticky;
  z-index: 10;
  width: 100%;
  background-color: v.$color-white;

  &__nav {
    padding: 1rem 8rem;
  }

  &__logo {
    width: f.rem(200);
    height: auto;
  }

  &__list {
    display: flex;
    gap: 3rem;
    list-style: none;
  }

  &__link {
    color: v.$color-primary;

    &:hover {
        color: v.$color-primary-hover;
    }
  }
}


/* Active link style */
.page-home .nav-link[href="index.html"],
.page-speakers .nav-link[href="speakers.html"],
.page-article .nav-link[href="article.html"],
.page-faq .nav-link[href="faq.html"] {
  font-weight: v.$fw-bold;
}
