@use "../1-settings/variables" as v;
@use "../2-tools/functions" as f;

.speakers {
  text-align: center;

  &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      justify-content: center;
      padding-block: 2rem;
      margin-top: 2rem;
    }

  &__speaker {
    flex: 1 1 calc((100% - 6rem) / 3);
    min-width: 200px;
    text-align: center;
  }

  &__img {
    width: 100%;
    height: f.rem(500);
    margin-bottom: 1rem;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  &__name {
    margin: 1rem 0;
  }

  &__role {
    color: v.$color-secondary;
  }
}

.speakers-intro {
  padding-block: 4rem;

  :is(.speakers__list) {
    padding-block: 0;
  }
}

