<section class="hero">

    <div class="hero__grid">

      <div class="hero__availability text-uppercase">
        <p class="hero__text">Plazas limitadas</p>
      </div>

      <h1 class="hero__title">Jornadas de cocina catalana</h1>

      <div class="hero__subtitle">
        <p class="hero__text subtitle">Tradición, productos locales y cocina mediterránea en un evento único.</p>
      </div>

      <div class="hero__info">
      <p class="hero__text text-uppercase"><i class="fa-solid fa-location-dot hero__icon"></i> Blanes (Girona) | Del 5 al 7 de diciembre</p>
      </div>

      <div class="hero__cta">
        <a href="#" class="hero__button btn btn-primary">Inscribirme</a>
      </div>

    </div>

</section>
