<section class="highlights medium-container">
  <div class="highlights__container">

    <div class="highlights__item" data-aos="fade-up">
      <i class="fa-solid fa-award highlights__icon"></i>
      <p class="highlights__label">4ª edición del evento</p>
    </div>

    <div class="highlights__item" data-aos="fade-up" data-aos-delay="200">
      <i class="fa-solid fa-people-group highlights__icon"></i>
      <p class="highlights__label">+300 asistentes en 2024</p>
    </div>

    <div class="highlights__item" data-aos="fade-up" data-aos-delay="400">
      <i class="fa-solid fa-wheat-awn highlights__icon"></i>
      <p class="highlights__label">Productos locales</p>
    </div>

    <div class="highlights__item" data-aos="fade-up" data-aos-delay="600">
      <i class="fa-solid fa-kitchen-set highlights__icon"></i>
      <p class="highlights__label">+15 talleres prácticos</p>
    </div>

  </div>
</section>
