<section class="speakers" id="speakers">
    <h1 class="o-title--h1 speakers__title">Participantes</h1>
    <p class="speakers__text">Descubre todos los chefs invitados al evento</p>

    <div class="speakers__list" data-aos="fade-up" data-aos-delay="200">
      <div class="speakers__speaker">
        <img src="./assets/images/speaker-1.jpg" alt="Fotografía de Maria Costa" class="speakers__img">
        <h3 class="speakers__name o-title--h3">Maria Costa</h3>
        <p class="speakers__role">Especialista en cocina de masía y platos de cuchara</p>
        <p class="speakers__restaurant">Restaurante Can Costa | Vic, Barcelona</p>
      </div>

      <div class="speakers__speaker" data-aos="fade-up" data-aos-delay="400">
        <img src="./assets/images/speaker-2.jpg" alt="Fotografía de Berta Ribas" class="speakers__img">
        <h3 class="speakers__name o-title--h3">Berta Ribas</h3>
        <p class="speakers__role">Especialista en paella marinera y fideuàs</p>
        <p class="speakers__restaurant">Restaurante Sa Malica | Blanes, Girona</p>
      </div>

      <div class="speakers__speaker" data-aos="fade-up" data-aos-delay="600">
        <img src="./assets/images/speaker-3.jpg" alt="Fotografía de Marc Baltrons" class="speakers__img">
        <h3 class="speakers__name o-title--h3">Marc Baltrons</h3>
        <p class="speakers__role">Especialista en carnes a la brasa</p>
        <p class="speakers__restaurant">Restaurante La Brasa | Palamós, Girona</p>
      </div>

      <div class="speakers__speaker" data-aos="fade-up" data-aos-delay="800">
        <img src="./assets/images/speaker-4.jpg" alt="Fotografía de Gisela Martínez" class="speakers__img">
        <h3 class="speakers__name o-title--h3">Gisela Martínez</h3>
        <p class="speakers__role">Especialista en repostería y postres típicos catalanes</p>
        <p class="speakers__restaurant">Pastelería Dolçor | Barcelona </p>
      </div>

      <div class="speakers__speaker" data-aos="fade-up" data-aos-delay="1000">
        <img src="./assets/images/speaker-5.jpg" alt="Fotografía de Jordi Domenech" class="speakers__img">
        <h3 class="speakers__name o-title--h3">Jordi Domenech</h3>
        <p class="speakers__role">Especialista en panes artesanos</p>
        <p class="speakers__restaurant">Forn Domenech | Olot, Girona</p>
      </div>

      <div class="speakers__speaker" data-aos="fade-up" data-aos-delay="1200">
        <img src="./assets/images/speaker-6.jpg" alt="Fotografía de Mariona Quintana" class="speakers__img">
        <h3 class="speakers__name o-title--h3">Mariona Quintana</h3>
        <p class="speakers__role">Especialista en cocina saludable y de proximidad</p>
        <p class="speakers__restaurant">Restaurante Eco del Mar | Mataró, Barcelona</p>
      </div>
    </div>
</section>
