@use "../1-settings/variables" as v;
@use "../2-tools/functions" as f;

body {
    display: flex;
    flex-direction: column;
    font-family: v.$font-family-sans;
    background-color: v.$color-background;
    }

a,
a.link {
    text-decoration: none;
    color: v.$color-primary;
    transition: color 0.2s ease;

    &:hover {
        color: v.$color-primary-hover;
    }
}

p {
  font-size: f.rem(18);
}
