@use "../2-tools/functions" as f;
@use "../2-tools/mixins" as m;

.main-container {
  padding-block: 3rem;
  padding-inline: 8rem;
  margin-inline: auto;
}

.small-container {
  max-width: f.rem(900);
  padding-block: 4rem;
  margin-inline: auto;

  @include m.respond(mobile) {
    padding-block: 3rem;
  }

}

.medium-container {
  max-width: f.rem(1200);
  padding-block: 4rem;
  margin-inline: auto;
}

.accordion-container {
  max-width: f.rem(600);
  padding-block: 2rem;
  margin-inline: auto;
}


:is(.main-container, .small-container, .medium-container) {

  @include m.respond(tablet) {
    padding-inline: 4rem;
  }

  @include m.respond(mobile) {
    padding-inline: 2rem;
  }
}
