@use "../2-tools/functions" as f;

.main-container {
  padding-block: 3rem;
  padding-inline: 8rem;
  margin-inline: auto;
}

.small-container {
  max-width: f.rem(900);
  padding-block: 4rem;
  margin-inline: auto;
}

.medium-container {
  max-width: f.rem(1200);
  margin-inline: auto;
}
