@use "../2-tools/functions" as f;
@use "../1-settings/variables" as v;

.o-title--h1,
.o-title--h2 {
  margin-bottom: 2rem;
  font-family: v.$font-family-serif;
}

.o-title--h1 {
  font-size: f.rem(48);
  font-weight: v.$fw-bold;

}

.o-title--h2 {
  font-size: f.rem(36);
  font-weight: v.$fw-semi-bold;
  color: v.$color-primary;
}

.o-title--h3 {
  margin-bottom: 1.25rem;
  font-family: v.$font-family-sans;
  font-size: f.rem(24);
  font-weight: v.$fw-semi-bold;
  color: v.$color-black;
}

.subtitle {
  margin-bottom: 3rem;
  font-family: v.$font-family-serif;
  font-size: f.rem(26);
}
