@use "../2-tools/functions" as f;
@use "../1-settings/variables" as v;
@use "../2-tools/mixins" as m;

.o-title--h1,
.o-title--h2 {
  margin-bottom: 2rem;
  font-family: v.$font-family-serif;
  color: v.$color-primary;
}

.o-title--h1 {
  font-size: f.rem(48);
  font-weight: v.$fw-bold;
  text-align: center;

  @include m.respond(mobile) {
    font-size: f.rem(32);
  }

  @include m.respond(tablet) {
    font-size: f.rem(40);
  }
}

.o-title--h2 {
  font-size: f.rem(36);
  font-weight: v.$fw-semi-bold;

  @include m.respond(mobile) {
    font-size: f.rem(26);
  }

  @include m.respond(tablet) {
    font-size: f.rem(30);
  }
}

.o-title--h3 {
  margin-bottom: 1.25rem;
  font-family: v.$font-family-sans;
  font-size: f.rem(24);
  font-weight: v.$fw-semi-bold;
  color: v.$color-black;

  @include m.respond(mobile) {
    font-size: f.rem(18);
  }

  @include m.respond(tablet) {
    font-size: f.rem(20);
  }
}

.subtitle {
  margin-bottom: 3rem;
  font-family: v.$font-family-serif;
  font-size: f.rem(26);

  @include m.respond(mobile) {
    font-size: f.rem(20);
  }

  @include m.respond(tablet) {
    font-size: f.rem(22);
  }
}
