@use "../2-tools/functions" as f;

// Typography
$font-family-sans: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
"Helvetica Neue", Arial, sans-serif;
$font-family-serif: "EB Garamond", Georgia, "Times New Roman", serif;

// Colors
$color-primary: #3F81DE;
$color-primary-hover: f.darken-color($color-primary);
$color-secondary: #DE9C3F;
$color-opacity: f.opacity(#fff, 0.8);
$color-primary-hover: #DE9C3F;
$color-background: #f9f9f9;
