// CASCADE LAYERS
@layer reset, base, layout, components, utilities;


/* Import SETTINGS */
@use "./1-settings/variables";


/* Import TOOLS */
@use "./2-tools/functions";
@use "./2-tools/mixins";
@use "./2-tools/_bootstrap-custom";


/* Import GENERIC and ELEMENTS*/
@layer reset {
  @use "./3-generic/reset";
}

@layer base {
  @use "./3-generic/dependencies";
  @use "./4-elements/base";
}

/* Import OBJECTS */
@layer layout {
  @use "./5-objects/container";
  @use "./5-objects/titles";
}

/* Import COMPONENTS */
@layer components {
  @use "./6-components/button";
}
